html {
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    text-align: center;
    height: 100vh;
}

.home-container {
    background-color: rgb(21, 0, 255);
    background: linear-gradient(to bottom, rgb(21, 0, 255), #5959fc);
    height: 100%;
}

.home-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home-logo-container img {
    @media screen and (min-width:0px) and (max-width:600px) {
        width: 250px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        widht: 300px;
    }
    @media only screen and (min-width:1200px) {
        width: 800px;
    }   
}

.site-title {
    @media screen and (min-width:0px) and (max-width:600px) {
        font-size: 16px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        font-size: 24px;
    }
    @media only screen and (min-width:1200px) {
        font-size: 24px;
    }
}

.nav {
    font-family:sans-serif;
    background-color: #0801ba;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    @media screen and (min-width:0px) and (max-width:600px) {
        font-size: 12px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        font-size: 16px;
    }
    @media only screen and (min-width:1200px) {
        font-size: 18px;
    }
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.nav li.active {
    background-color: #0220ff;
}

.nav li:hover {
    background-color: #0220ff;
}

.search-page{
    font-family: sans-serif;
    @media screen and (min-width:601px) and (max-width:1201px) {
        margin-left: 10%;
        margin-right: 10%;
    }

    @media only screen and (min-width:1200px) {
        margin-left: 30%;
        margin-right: 30%;
    }
}

.search-page img {
    @media screen and (min-width:0px) and (max-width:601px) {
        width: 60%;
        height: auto;
        padding-top: 60px;
        padding-bottom: 40px;
    }
    @media screen and (min-width:420px) and (max-width:1201px) {
        width: 70%;
        height: auto;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media only screen and (min-width:1200px) {
        width: 60%;
        height: auto;
        padding-top: 24px;
        padding-bottom: 48px;
    }
}

.selector-button-style{
    background-color: white;
    color: #0801ba;
    border-radius: 32px;
    font-family:sans-serif;
    cursor: pointer;
    @media screen and (min-width:0px) and (max-width:600px) {
        width: 40%;
        height: 30px;
        font-size: 16px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        width: 50%;
        height: 48px;
        font-size: 30px;
    }
    @media only screen and (min-width:1200px) {
        width: 50%;
        height: 32px;
        font-size: 24px;
    }
}

.selector-button-style.active{
    background-color: #0801ba;
    color: white;
    
}

.search-dropdown-name{
    text-align: left;
    @media screen and (min-width:0px) and (max-width:600px) {
        padding-top: 20px;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 6px;
        font-size: 22px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        padding-top: 32px;
        padding-bottom: 8px;
        font-size: 32px;
    }
    @media only screen and (min-width:1200px) {
        padding-top: 18px;
        padding-bottom: 6px;
        font-size: 24px;
    }

}

.custom-dropdown{
    padding-left: 12px;
    border-radius: 48px;
    color: #777;
    @media screen and (min-width:0px) and (max-width:600px) {
        width: 80%;
        height: 50px;
        font-size: 16px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        width: 100%;
        height: 80px;
        font-size: 28px;
    }
    @media only screen and (min-width:1200px) {
        width: 100%;
        height: 48px;
        font-size: 20px;
    }
}

.custom-button {
    border-radius: 48px;
    background-color: #0801ba;
    background: linear-gradient(to right, #0801ba, #5959fc);
    color: #ffffff;
    border: none;
    cursor: pointer;
    @media screen and (min-width:0px) and (max-width:600px) {
        width: 80%;
        height: 50px;
        font-size: 20px;
        margin-top: 60px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        width: 80%;
        height: 80px;
        font-size: 32px;
        margin-top: 96px;
    }
    @media only screen and (min-width:1200px) {
        width: 80%;
        height: 48px;
        font-size: 24px;
        margin-top: 40px;
    }
}

.product-list-page{
    font-size: 24px;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
}
.product-list-header-container{
    width: 100%;
    display: inline-flex;
    justify-content: left;
}
.symbol-to-navigate-back{
    width: 28px;
    height: 28px;
    position: relative;
    @media screen and (min-width:0px) and (max-width:600px) {
        top: 20px;
        left: 12px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        top: 36px;
        left: 24px;

    }
    @media only screen and (min-width:1200px) {
        display: none;
    }
}
.product-list-page-logo{

    width: 100%;
}
.product-list-page-logo img{

    @media screen and (min-width:0px) and (max-width:600px) {
        width: 240px;
        padding-top: 10px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        width: 320px;
        padding-top: 20px;
    }
    @media only screen and (min-width:1200px) {
        width: 360px;
        padding-top: 32px;
    }
}
.product-list-page h3{
    text-align: left;
    padding-left: 24px;
    font-family:sans-serif;
    font-size: 32px;
    @media screen and (min-width:0px) and (max-width:600px) {
        font-size: 24px;
        padding-left: 12px;
    }
}

.product-card-list-container{
    display: grid;
    font-family:sans-serif;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    @media screen and (min-width:601px) and (max-width:1201px) {
        grid-template-columns: 1fr 1fr;
   
    }
    @media screen and (min-width:0px) and (max-width:600px) {
        grid-template-columns: 1fr;
    }
}
.product-card-link-container{
    text-decoration: none;
    color: black;

}
.product-card-image{
    object-fit:cover;
    border-top-right-radius: 38px;
    border-top-left-radius: 38px;
    @media screen and (min-width:0px) and (max-width:600px) {
        min-height: 200px;
        width: 100%;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        min-height: 300px;
        width: 100%;
    }
    @media only screen and (min-width:1200px) {
        height: 300px;
        width: 100%;
    }
}

.product-card-display-name{
    margin-top: 16px;
    text-align: center;
    @media screen and (min-width:0px) and (max-width:600px) {
        font-size: 22px;
        margin-left: 8px;
        margin-right: 8px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        font-size: 26px;
        margin-left: 16px;
        margin-right: 16px;
    }
    @media only screen and (min-width:1200px) {
        font-size: 24px;
        margin-left: 12px;
        margin-right: 12px;

    }
}

.product-card-container{
    border: 1px solid black;
    font-size: 24px;
    border-radius: 40px;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.product-icon-container{
    margin-top: 24px;
    display: grid;
    justify-items:center;
    grid-template-columns: 1fr 1fr; 
}

.product-room-icons-bedroom{
    @media screen and (min-width:0px) and (max-width:600px) {
        max-width: 30px;
        height: 30px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        max-width: 30px;
        height: 30px;
    }
    @media only screen and (min-width:1200px) {
        max-width: 50px;
        height: 50px;
    }
}

.product-room-icon-bathroom{
    @media screen and (min-width:0px) and (max-width:600px) {
        max-width: 30px;
        height: 30px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        max-width: 30px;
        height: 30px;
    }
    @media only screen and (min-width:1200px) {
        max-width: 50px;
        height: 50px;
    }
}

.product-number-of-rooms{
    margin-left: 10px;
    font-size: 40px;
    @media screen and (min-width:0px) and (max-width:600px) {
        font-size: 30px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        font-size: 40px;
    }
    @media only screen and (min-width:1200px) {
        font-size: 40px;
    }
}

.product-card-descripton{
    text-align: start;
    @media screen and (min-width:0px) and (max-width:600px) {
        font-size: 22px;
        margin-top: 16px;
        margin-left: 8px;
        margin-right: 8px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        font-size: 26px;
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }
    @media only screen and (min-width:1200px) {
        font-size: 24px;
        margin-top: 16px;
        margin-left: 12px;
        margin-right: 12px;

   
    }
}

.product-card-price-button{
    margin-top: 24px;
    background-color: #0801ba;
    color: white;
    font-size: 24px;
    width: 100%;
    height: 60px;
    cursor: pointer;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    justify-content: flex-end;
}

.product-details-page{
    font-family: sans-serif;
    @media only screen and (min-width:1200px) {
        margin-left: 20%;
        margin-right: 20%;
    }
}
.product-details-header-container{
    width: 100%;
    display: inline-flex;
    justify-content: left;
}

.product-details-logo{
    width: 100%;
}

.product-details-logo img{
    @media screen and (min-width:0px) and (max-width:600px) {
        width: 240px;
        padding-top: 10px;
		padding-bottom: 10px;
	}	
	@media screen and (min-width:601px) and (max-width:1201px) {
		width: 320px;
        padding-top: 20px;
			padding-bottom: 20px;
	}		
	@media only screen and (min-width:1200px) {
		width: 360px;
        padding-top: 32px;
		padding-bottom: 20px;
    }
}

.product-details-house-image{
	max-height: 590px;
	@media screen and (min-width:0px) and (max-width:600px) {
			height: 282px;
	}
	@media screen and (min-width:601px) and (max-width:1201px) {
			height: 587px;
	}
	@media only screen and (min-width:1200px) {
			height: 589px;
	}
}

.product-details-house-image img{
    filter: grayscale(100%);
    filter: brightness(50%);
	max-height: 590px;
    @media screen and (min-width:0px) and (max-width:600px) {
        width: 100%;
        height: 100%;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        width: 100% ;
        height: 100%;
    }
    @media only screen and (min-width:1200px) {
        width: 100%;
        height: 100%;
    }
}

.product-details-element-bar{
	width: 100%;
	height: 50px;
	background-color: #0220ff;
}

.product-details-element-bar {    
    justify-content: space-around;
    display: flex;
    padding-top:8px;
    padding-left: 16px;
}

.product-details-element-bar a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.product-details-element-bar-item-text{
    padding-left: 8px;
    @media screen and (min-width:0px) and (max-width:600px) {
        padding-left: 4px;
        font-size: 18px;
    }
}

.product-image-display-name-combiner{
    position: relative;
    text-align: center;
    color: white;

}

.product-details-display-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    @media screen and (min-width:0px) and (max-width:600px) {
        font-size: 24px;
    }
}

.product-details-price{
    font-size: 24px;
    display: flex;
    @media screen and (min-width:0px) and (max-width:600px) {
		font-size: 24px;
		margin-right: 12px;
	}
    
    @media screen and (min-width:601px) and (max-width:1201px) {
		font-size: 40px;
		margin-right: 24px;
    }
    @media only screen and (min-width:1200px) {
        font-size: 40px;
        margin-left: 12px;
        margin-right: 20px;
    }

}
		
.product-details-room-icon-bedroom{
	@media screen and (min-width:0px) and (max-width:600px) {
		width: 20px;
        height: 20px;
        margin-right: 4px;
	}
	@media screen and (min-width:601px) and (max-width:1201px) {
		width: 40px;
        height: 40px;
		margin-right: 10px;
    }
    @media only screen and (min-width:1200px) {
        width: 40px;
        height: 40px;
    }
}

.product-price-rooms-combine{
    display:flex;
    justify-content: space-around;
    margin-top: 16px;
    margin-bottom: 16px;
    
}

.product-details-room-icon-bathroom{
    @media screen and (min-width:0px) and (max-width:600px) {
        width: 20px;
        height: 20px;
        margin-right: 4px;
	}
	@media screen and (min-width:601px) and (max-width:1201px) {
		width: 40px;
        height: 40px;
		margin-right: 10px;
    }
    @media only screen and (min-width:1200px) {
        width: 40px;
        height: 40px;
    }
}

.product-details-number-of-rooms{
    @media screen and (min-width:0px) and (max-width:600px) {
		font-size: 24px;
		margin-right: 12px;
	}
    
    @media screen and (min-width:601px) and (max-width:1201px) {
		font-size: 40px;
		margin-right: 16px;
    }
    @media only screen and (min-width:1200px) {
        font-size: 20px;
        margin-left: 12px;
        margin-right: 20px;
    }
}

.product-details-long-descpirption{
    font-size: 28px;
    text-align: start;
    padding-bottom: 10px;
    @media screen and (min-width:0px) and (max-width:600px) {
       margin-left: 12px;
       margin-right: 12px;
       font-size: 20px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        margin-left: 24px;
        margin-right: 24px;
        font-size: 28px;
    }
    @media only screen and (min-width:1200px) {
        font-size: 28px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

.product-details-image-title{
    text-align: left;
    font-family:sans-serif;
    @media screen and (min-width:0px) and (max-width:600px) {
        font-size: 24px;
        padding-left: 12px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        margin-left: 24px;
        margin-right: 24px;
        font-size: 32px;
    }
    @media only screen and (min-width:1200px) {
        font-size: 40px;
        margin-left: 24px;
        margin-right: 24px;
    }
}
.details-page-photo-album{
    @media screen and (min-width:0px) and (max-width:600px) {
        padding-left: 12px;
        padding-right: 12px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        padding-left: 24px;
        padding-right: 24px;
    }
    @media only screen and (min-width:1200px) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.product-details-map-location{
    @media screen and (min-width:0px) and (max-width:600px) {
        width: 100%;
        height: 200px;
        padding-left: 12px;
        padding-right: 12px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        width: 100%;
        height: 400px;
        padding-left: 24px;
        padding-right: 24px;
    }
    @media only screen and (min-width:1200px) {
        width: 100%;
        height: 500px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

.product-details-epc img{
    @media screen and (min-width:0px) and (max-width:600px) {
        padding-left: 12px;
        padding-right: 12px;
        width: 100%;
        height: 200px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
        height: 400px;

    }
    @media only screen and (min-width:1200px) {
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
        height: 500px;
    }
}

.product-details-brochure-button{
    border-radius: 32px;
    background-color: #0801ba;
    background: linear-gradient(to right, #0801ba, #5959fc);
    color: #ffffff;
    border: none;
    cursor: pointer;
    @media screen and (min-width:0px) and (max-width:600px) {
        width: 90%;
        height: 40px;
        font-size: 20px;
        margin-top: 12px;
        margin-bottom: 32px;
    }
    @media screen and (min-width:601px) and (max-width:1201px) {
        width: 50%;
        height: 60px;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 48px;
    }
    @media only screen and (min-width:1200px) {
        width: 50%;
        height: 60px;
        font-size: 24px;
        margin-bottom: 60px;
    }
}


